<div
  id="main-container"
  style="
    width: 895.5px;
    height: 503.719px;
    outline: rgb(255, 207, 207) solid 0.5px;
    position: relative;
    background-image: url('https://th.bing.com/th/id/OIP.a7nmJUgKRBfZYJfvAl5DiQHaE8?pid=ImgDet&amp;rs=1');
    background-size: cover;
  ">
  <div
    id="id1685598664597"
    style="
      height: 60px;
      width: 100%;
      position: relative;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      outline: rgb(255, 207, 207) solid 0.5px;
    ">
    <div
      id="id1685598681716"
      class="leftside"
      style="
        height: 100%;
        width: 187px;
        position: relative;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: rgb(255, 207, 207) solid 0.5px;
      ">
      <img
        src="https://th.bing.com/th/id/OIP.Vy5PUdCk1nZpeE31MCa1pwHaHa?w=204&amp;h=204&amp;c=7&amp;r=0&amp;o=5&amp;pid=1.7"
        alt="custom"
        style="height: 45px; border-radius: 50%" />
      <div
        id="id1685598853491"
        style="
          height: 35px;
          width: auto;
          position: relative;
          box-sizing: border-box;
          margin-left: 20px;
          outline: rgb(255, 207, 207) solid 0.5px;
        ">
        <p style="color: rgb(255, 255, 255); font-size: 0.8rem; margin: 0px">
          Branding
        </p>
        <p style="color: rgb(255, 255, 255); font-size: 0.8rem; margin: 0px">
          Right to ride
        </p>
      </div>
    </div>
    <div
      id="id1685598701019"
      class="rightside"
      style="
        height: 100%;
        width: auto;
        position: relative;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: rgb(255, 207, 207) solid 0.5px;
      ">
      <p style="color: rgb(255, 255, 255); margin: 0px 15px">About</p>
      <p style="color: rgb(255, 255, 255); margin: 0px 15px">Features</p>
      <p style="color: rgb(255, 255, 255); margin: 0px 15px">Use Case</p>
      <p style="color: rgb(255, 255, 255); margin: 0px 15px">
        Pricing<button
          style="
            padding: 10px 15px;
            border-radius: 35px;
            border: 2px solid grey;
            background: rgb(175, 185, 190);
            color: rgb(255, 255, 255);
            font-weight: bold;
            margin-left: 20px;
          ">
          Free Version</button
        ><button
          style="
            padding: 10px 15px;
            border-radius: 35px;
            border: none;
            background: rgb(235, 194, 194);
            color: rgb(255, 255, 255);
            font-weight: bold;
            margin-left: 20px;
          ">
          Pro Version
        </button>
      </p>
    </div>
  </div>
  <div
    id="id1685598746102"
    style="
      height: 259px;
      width: 410px;
      position: relative;
      box-sizing: border-box;
      margin-top: 70px;
      margin-left: 80px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding-left: 35px;
      padding-top: 15px;
      outline: rgb(255, 207, 207) solid 0.5px;
    ">
    <h1 style="margin: 0px; color: rgb(255, 255, 255); font-size: 3rem">
      Beautiful
    </h1>
    <h1
      style="
        color: rgb(255, 255, 255);
        font-size: 3rem;
        justify-content: space-between;
        margin: 0px;
      ">
      Landing Page
    </h1>
    <p style="margin: 0px; color: rgb(255, 255, 255)">
      We build this template to help you create
    </p>
    <p style="align-items: flex-start; margin: 0px; color: rgb(255, 255, 255)">
      modern and beautiful marketing page.
    </p>
    <div
      id="id1685599430539"
      style="
        height: 40px;
        width: 346px;
        position: relative;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        outline: rgb(255, 207, 207) solid 0.5px;
      ">
      <button
        style="
          padding: 10px 15px;
          border-radius: 35px;
          border: none;
          background: rgb(255, 255, 255);
          color: rgb(219, 118, 118);
          font-weight: bold;
          margin-left: 0px;
        ">
        Features</button
      ><button
        style="
          padding: 10px 15px;
          border-radius: 35px;
          border: 2px solid grey;
          background: rgb(162, 160, 160);
          color: rgb(255, 255, 255);
          font-weight: bold;
          margin-left: 20px;
        ">
        Features
      </button>
    </div>
  </div>
</div>
